# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# macOS
.DS_Store

# VSCode
.vscode/

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml

# Logs
*.log

# Cache
.mypy_cache/
.pytest_cache/
.cache/
